// --------- Banner ------------- //
.red{
  border: 2px solid red;
}

// ---------- Outer Level ------------ //

.banner-container {
  width: 100%;
  margin: 0 auto;
  max-height: 600px;
  min-height:490px;
  overflow: hidden;
  position: relative;
}

// ---------- Slogan Stuff ----------- //
#banner-slogan {
  width: 100%;
  text-align: center;
  margin-top: 80px;
  font-family: $font-home;
  font-weight: lighter;
  font-size: 20px;
  color: $color-offwhite;
  @include media(">=1px", "<500px") {
    font-size: 4vw;
  };
}

// --------- Image Background --------- //

.banner-overlay {
  background-color: $color-grey-dark;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.96;
}

.banner-image {
  width: 140%;
  min-height: 490px;
}

// -------- Logo Stuff --------- //

.banner-logo-ctr {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 60%;
  top: 190px;
  left: 50%;
  transform: translate(-50%, 0%);

  @include media(">=1px", "<800px") {
    flex-wrap: nowrap;
    flex-direction: column;
  };
}

.banner-logo {
  height: 100%;
  right: 0px;
}

.banner-text {
  height: 100%;
}

.img-trim {
  height: 100%;

  @include media(">=1px", "<800px") {
    height: 80%;
    margin-left: 0px;
  };
}

.img-trim2 {
  height: 50%;
  margin-left: 50px;

  @include media(">=1px", "<800px") {
    height: 30%;
    margin-left: 0px;
  };
}
